[Desktop Entry]
Version=1.0
Type=Application
Name=Windows Explorer
TryExec=cygstart
Exec=cygstart %u
Icon=cygwin-logo-icon
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=Utility;FileManager;
MimeType=inode/directory;
OnlyShowIn=X-Cygwin;
