[Desktop Entry]
Version=1.0
Type=Application
Name=Windows text editor
TryExec=cygstart
Exec=cygstart %u
Icon=cygwin-logo-icon
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=Utility;TextEditor;
MimeType=text/plain;
OnlyShowIn=X-Cygwin;
