[Desktop Entry]
Version=1.0
Type=Application
Name=Windows photo viewer
TryExec=cygstart
Exec=cygstart %u
Icon=cygwin-logo-icon
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=Graphics;RasterGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-ico;
OnlyShowIn=X-Cygwin;
